body{
    background-color: #fafafa;
    /*color: #FAFAFA;*/
}
.defualt-nav{
    background-color: #1e6eb5 !important;
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
}
.navbar-brand{
    width: 129px;
    height: 35px !important;
    display: inline-block;
    background: url("../images/logo-header.png") no-repeat left top;
    background-size: 129px auto;
    margin:8px 0 !important;
    float: left;
}
.navbar-nav > li > a{
    padding: 0 !important;
}
.input-search{
    display: inline-block;
    position: relative;
    margin-right: 15px;
}
.input-search .form-control{
    border-radius: 50px;
    background-color: #fff;
    width: 370px;
    border-color:#fff;
    padding-left: 35px;
}
.input-search .btn{
    background:none;
    border: none;
    position: absolute;
    top: 7px;
    left: 15px;
    padding: 0 !important;
}
.input-search .btn:hover, .input-search .btn:focus, .input-search .btn.focus{
    background: none;
}
.input-search .btn i{
    color: #909090;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.navbar-left li.dropdown a{
    padding: 8px !important;
}
.navbar-left li span{
    margin: 8px !important;
}
.navbar-left li.dropdown a.dropdown-toggle{
    padding: 8px !important;
    border: 1px solid #1e6eb5;
    border-bottom: 0;
}
.profile-image {
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-right: 10px;
}
.downarrow{
    color: #85afde !important;
    font-size: 20px !important;
    vertical-align: middle;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.dropdown.open .downarrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}/*
.defualt-nav .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .defualt-nav .navbar-nav > .open > a:focus{
    background-color: #fff !important;
    border: 1px solid #0b2c4e;
    border-bottom: 0;
}*/

.usrdrop.dropdown-menu{
    padding: 0;
    border: 1px solid #0b2c4e;
    border-top: 0;
    left: initial;
    right: 0;
    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    -ms-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    border-radius: 0;
}
.usrdrop ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.usrdrop ul li a {
    padding: 8px 15px;
    font-size: 13px;
    color: #333333;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc !important;
}
.usrdrop ul li:last-child a{border-bottom: 0 !important;}
.usrdrop ul li a:hover{
    background-color: #85afde;
    color: #fff !important;
}

.following-icon, .newsfeed-icon{
    padding: 15px 8px 14px 8px;
    display: inline-block;
    position: absolute !important;
    top: 0;
    right: 15px;
    cursor: pointer;
}
.newsfeed-icon{
    right: initial;
    left: 15px;
}
.following-icon:hover, .newsfeed-icon:hover{
    background: rgba(255,255,255,0.35);
}

@media (min-width: 100px) and (max-width: 767px) {
    .navbar-brand{
    width: 100%;
    height: 35px !important;
    display: inline-block;
    background: url(../images/logo-symbol.png) no-repeat center top;
    background-size: contain;
    margin:8px 0 !important;
}

}

@media (min-width: 825px) and (max-width: 994px) {
    .navbar-header{
   margin-left: -70px;
}

}
@media (min-width: 825px) and (max-width: 924px) {
    .navbar-header{
   margin-left: 30px;
}

}

/*left-side css*/
.main-body{
    margin-top: 65px;
}

.user-profile-image{
    width: 160px;
    height: 160px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}
.user-profile-image img{
     width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info{
    border:1px solid #e1e8ed;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}
.user-name{
    font-weight: 600;
    color: black;
    font-size: 22px;
    display: block;
}
.user-tag{
    color: gray;
}

.sources{
    border:1px solid #e1e8ed;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
}

h4 {
    letter-spacing: 0px;
}
h5{
    /*border-bottom: 1px solid #85afde;*/
    color: gray;
    /*font-family: fantasy;*/
    letter-spacing: 0px;
}
.src-item-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
    float: left;
}
h6{
    float: left;
    margin-top: 0px;
    margin-bottom: 0px! important;
    font-weight: bold;
    /*font-family: Roboto;*/
    letter-spacing: 0px;
}
.underline{
    border-bottom: 1px solid #e1e8ed;
    margin-left: -10px;
    margin-right: -10px;
}
.btn-more-info{
    border: 1px solid #85afde;
    padding-bottom: 2px; 
    background: white;
    width: 22px;
    height: 18px;
    border-radius: 3px;
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
    color: #85afde;
}

.buttons{
    margin-left: 0;
    margin-right: 0!important;
    padding-left: 0!important;
    padding-right: 0;
    float: left;
    margin-top: -17px;
    margin-left: 53px;


}
.buttons input{
    outline: none;
    font-weight: 900;

}
.buttons input:hover, .buttons input.selected{
    background-color: #85afde;
    color: white;
    
 }
 .item{
    line-height: 1.1;
    margin-bottom: 10px;
 }
 .item h6{
    font-weight: bold;
 }
 .item-rows{
    margin-bottom: 20px;
 }

/*center body*/


.enter-text{
    display: block;
    position: relative;
    min-height: 45px;
    padding-left: 55px;
    padding-right: 0px;
    margin-top:15px;
}
.user-suare{
    margin: 0;
}
.text-img{
    width: 45px;
    height: 45px;
    overflow: hidden;
    object-fit: cover;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
    position: absolute;
    left: 0;
    top: 0;
}


.texts {
    display:inline-block;
    border: solid 1px #85afde;
    border-radius: 5px;
    min-height: 40px;
    max-height:120px;
    width: 100%;
    overflow:auto;
    text-align: left;
}
texts:[contenteditable=true]:empty::before {
  content: attr(placeholder);
}

.text-fild{
     border: solid 1px #e1e8ed;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
}

.popular-box{
    background-color: #85afde;
    color: white;
    height: 30px;
    border-radius: 8px 8px 0px 0px;
    letter-spacing: 1px;
    padding-top: 3px;
}
.popular-box span{
    font-size: 15px;

}
.feed-img{
    width: 55px;
    height: 55px;
    overflow: hidden;
    object-fit: cover;
    border-radius:5px;
    /*position: absolute;*/
    float: left;
}
.feed-item{
    border: solid 1px #e1e8ed;
    padding: 10px;
    height: 100%;
}
.row{
    margin: 0px!important;
}
.name{
    /*float: left;*/
    /*margin-left: 65px;*/
    margin-top: 20px;
    color: black;
    margin-right: 5px;
}
.user-id{
    color: gray;
}
.time-day{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
.text-content{
    margin-top: 25px;
    font-size: 14px;
    letter-spacing: 1px;
}
.wall-photo{
    overflow: hidden;
    height: 300px;
    position: relative;
}
.wall-photo-src{
    width: 100%;
    height: 100%;
}
.wall-photo-content{
    padding: 15px;
    border: solid 1px #e1e8ed;
    border-radius: 0px 0px 5px 5px;
}
.bold-text{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
.simple-text{
    font-size: 13px;
    margin-top: 10px;
    letter-spacing: 1px;

}
.mail-id a{
    color: gray;
    letter-spacing: 1px;
}


.wall-operation{
    padding:10px;
}
.btn-operation{
    float: left;
    margin: 10px 0;
}
.btn-operation button{
    background: none;
    border: 0;
    color: #909090;
    font-size: 12px;
    font-weight: 500;
}

.status{
    display: table-cell;
    width: 300px;
    text-align: right;
}
.status ul{
    display: block;
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
}
.status ul li{
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    text-align: center;
}
.status ul li b{
    display: block;
    font-size: 16px;
}
.status ul li span{
    color: #909090;
    font-size: 13px;
}
.cmnt-textarea{
     /*max-height: 50px !important;*/
    overflow:hidden!important;
     display: none;
     resize: none;
}
.wrt-cmnt{
    margin-top: 10px;
}
.user-cmnt{
    letter-spacing: 1px;
}
.user-cmnt strong{
    color: #0B2C4E;
    /*font-weight: bold;*/
}
.user-reply{
    margin-top: 10px;
    color: gray;
}
.user-reply button{
   height: 10px;
   width: 10px;

}
.user-reply a{
    color: gray;
    margin-right: 2px;
}
.user-reply span{
     background-color: #85afde;
    color: white;
    border-radius: 2px;
    padding: 2px;
    font-size: 10px;
}
.users-reply{
    margin-top: 20px;
}
.rely-img{
    width: 45px;
    height: 45px;
    overflow: hidden;
    object-fit: cover;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
    position: absolute;
    /*left: 0;*/
    /*top: 0; */
}
.users-cmnt{
    letter-spacing: 1px;
    margin-left: 50px;
}
.users-cmnt strong{
    color: #0B2C4E;
    letter-spacing: 0px;
    /*font-weight: bold;*/
}
.user-replys{
    margin-top: 10px;
    color: gray;
    margin-left: 58px;
}
.user-replys button{
   height: 10px;
   width: 10px;

}
.user-replys a{
    color: gray;
    margin-right: 2px;
}
.user-replys span{
     background-color: #85afde;
    color: white;
    border-radius: 2px;
    padding: 2px;
    font-size: 10px;
}

/*right section*/

.follow-user{
    border:1px solid #e1e8ed;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    /*margin-top: 10px;   */
}

.follow-user h6{
   font-size: 12px;
   letter-spacing: 1px;
   font-weight: bold;

}


.user{
    margin-bottom: 10px;
}

.followingbtn{
    border: 1px solid #85afde;
    padding-bottom: 2px; 
    background: white;
    width: 22px;
    height: 18px;
    border-radius: 3px;
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
    color: #85afde;
}

.btn-follow{

    margin-right: 0!important;
    /*padding-left: 0!important;*/
    padding-right: 0;
    float: left;
    margin-top: 4px;
    margin-left:-75px;


}
.btn-follow input{
    outline: none;
    font-weight: 900;

}

@media (min-width: 320px) and (max-width: 480px) {
   .btn-operation button{
   padding: 0px 0px 0px 2px;
}
   .tatus ul li{
    padding: 0px 5px 0px 0px;
}  
 .status ul li span{
   font-size: 12px;
}  
}
