<div class="container">
	<div class="row outer">
   <div class="col-md-3"></div>
   <div class="col-md-6 mainbody">
    <h2 class="text-center">Calculator</h2>
	<div class="row text-center innerbody">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<input [(ngModel)]="number1" name="number1" id="number1" type="number" class="form-control" required />
	        <span id="operator">{{operator}}</span><br/>
	        <input [(ngModel)]="number2" name="number2" id="number2" type="number" class="form-control" required /><br/>
	        <span id="equalOperator" >=</span>
	        <span id="Result">{{result}}</span>
		</div>
		<div class="col-md-3"></div>
	</div>
        
    <div class="row bottons">
	    <div class="col-md-2"></div>
	    <div class="col-md-8 text-center">
	    	<input type="button" name="" value="+" class="btn btn-info" (click)="performOperation('+')">
	    	<input type="button" name="" value="-" class="btn btn-info" (click)="performOperation('-')">
	    	<input type="button" name="" value="*" class="btn btn-info" (click)="performOperation('*')">
	    	<input type="button" name="" value="/" class="btn btn-info" (click)="performOperation('/')">
	    </div>
	    <div class="col-md-2"></div>
	</div>
  </div>
  <div class="col-md-3"></div> 
 </div> 
</div>