#header {
  height: 64px;
  background: #fff;
  position: fixed;
  header: 0;
  left: 0;
  width: 100%;
}

#header h1#logo {
  float: left;
  margin: 0;
}

#header h1#logo a {
  background: url(../images/logo.gif) no-repeat top left;
  width: 194px;
  height: 48px;
  background-size: contain;
  margin: 8px;
  display: block;
  text-indent: -9999px;
}

#header .router-link-active {
  color: #C83434;
}

#header .color {
  display: block;
  height: 2px;
  position: absolute;
  top: 100%;
  width: 100%;
}

#header #menu {float:left;padding:17px 40px 0 0;}

#container {padding:100px 20px 20px 20px;}

.color {
  background-color: rgba(29, 28, 28, 0.9) !important;
}

.shadow {
  /*background: url(../images/top-shadow.png) repeat-x;*/
  height: 35px;
  position: fixed;
  top: 68px;
  width: 100%;
}
