@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.App {
  text-align: center;
  /*overflow-y: scroll;*/
overflow-x: hidden;
}

.header {
  background-color: #222;
  position: fixed;
  background-color: #297bba;
  margin-top: 0;
  top: 0;
  height: auto;
  z-index: 100;
  width: 100%;
  margin-left:0!important;
  margin-right: 0!important;
}
#header-profile{
  background-image: url('../public/image/profile.png');
    background-size: contain;
 width: 51px; 
    height: 51px;
     border-radius: 70%;
     border-color: white;
  
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../public/image/slider_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.logo-container{
  width: 50px;
  float: left;
  padding-left: 20px;
}
.logo{
  background-image: url('../public/image/logo.png');
  /*position: absolute;*/
   background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
  margin: 5px 0;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
   margin-top: 10px;
}
.searchCont{
  background: #fff;
  border-radius: 20px;
  height: 40px;
  width: 100%;
}

.search input {
    width: 75%;
    float: left;
    background: #fff;
    border: 0;
    height: 40px;
    padding: 0 5px;
    outline: none;
}

.search .fa-search { 
  float: left; 
  margin: 12px;
}
 #header-profile{
  border-radius: 50%;
  width: 44px;
  margin: 6px;
  height: 44px;
  cursor: pointer;
  border: 1px solid #fff;
 }

 #image-icon{
  background-image: url('../public/image/photo-camera.png');
  position: absolute;
 width: 51px; 
    height: 51px;
    top: 150px;
    background-size: contain;
 }
 .dropdown-toggle .pull-left{
  float: left;
  width: 5px;
  height: 5px;
 }
 .dropdown-menu.in-header {
    margin: 55px -60px;
    border-radius: 0;
}
.dropdown-menu  {
  border-radius: 0; 
}

 .cover-pic{
  color: transparent;
  width: 51px; 
    height: 51px;
    border-radius: 70%;
 }
 .coverPicMenu{
  margin-left: -100%;
 }
 .profile-pc{
  float: right;
 }

 .profile-pic{
   border-radius: 70%;
   background-image: url('../public/image/profile.png');
    width: 120px;
    background-size: contain;
    border-color: white;
    position: absolute;
    height: 120px;
    margin: -76px 20px;
    border: 4px solid white;
 }
 .profile-dw{
  border-radius: 70%;
  color: #33485c;
  width: 120px; 
    height: 120px;
 }
 .profile-dw:hover{
  color: #33485c;
 }
.profile-pic-bcgnd{
   border-radius: 70%;
   background-color: white;
    width: 120px;
    background-size: contain;
    position: absolute;
    height: 120px;
    margin: -76px 20px;
    border: 4px solid white;
}

.App-intro {
  font-size: large;
}

 .body-containt{
  margin-top: 30px;
}
.textfild{
  border: 1px solid #d5dade;
  border-radius: 5px;
  width: 100%;
  padding: 7px;
  margin: 5px;
}

.likes{
  float: right;
   text-align: right;
}
 #static-likes{
  color: gray;
 }
 #likes{
  margin-right: 20px;
  font-weight: bold;
 }
 .comments{
  float: left;
   text-align: left;
}
 #static-comments{
  color: gray;
 }
 #comments{
  margin-left: 30px;
   font-weight: bold;
 }
 .btn-cancel{
 float: right;
   text-align: right;
 }
 .btn-save{
  float: left;
   text-align: left;
 }
 #save {
  border-radius: 5px;
  background-color: blue;
  color: white;
  border: 0;
  padding: 5px;
 }
 #cancel{
  border-radius: 5px;
     border: 1px solid black;
    padding: 5px;
     background-color: white;


 }
.fa{
  margin-top: 25px;
}

.btnBlock div{
  padding: 0!important;
}  
.btnBlock .btn-primary{
  margin-left: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media (min-width: 1200px)
.row {
    margin-right: 0px;
    margin-left: 0px;
  }