<div>
    <h1>Welcome  {{fName | uppercase}} {{lName | lowercase}}</h1>
    <p>
        On {{reservationMade | date}} at {{reservationMade | date:'shortTime'}} you 
        reserved room 205 for {{reservationFor | date}} for a total cost of 
        {{cost | currency}}.
    </p>
</div>