<h1>
  {{ title }}
</h1>
<p>
  {{ body }}
</p>

<hr>
<div>
  <h2 class="" style="font-style: italic;">Home: {{ message }}</h2>
  <form class="form-inline">
    <input type="text" [(ngModel)]="message" placeholder="Message">
    <button type="submit" class="btn" (click)="updateMessage(message)">Update Message</button>
  </form>
</div>
