<h1>
  {{title}}
</h1>
<!-- <sebm-google-map [latitude]="lat" [longitude]="lng">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
</sebm-google-map> -->

<sebm-google-map [latitude]="lat" [longitude]="lng" (centerChange)="centerChanged($event)" (boundsChange)="boundsChanged($event)">
<sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker> </sebm-google-map>